In [66]:
import pandas as pd

In [67]:
df_sent = pd.read_csv("../data/bbc_and_nasa_articles_loc_coor_sent.csv")

In [68]:
df_sent.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'city', 'state_name', 'county_name',
       'lat', 'lng', 'zips', 'title', 'link', 'description', 'published',
       'location_match', 'roberta_title', 'roberta_description',
       'roberta_title_label', 'roberta_title_score', 'roberta_desc_label',
       'roberta_desc_score'],
      dtype='object')

In [69]:
df_sent.head()

,Unnamed: 0.1,Unnamed: 0,city,state_name,county_name,lat,lng,zips,title,link,description,published,location_match,roberta_title,roberta_description,roberta_title_label,roberta_title_score,roberta_desc_label,roberta_desc_score
0,0,0,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,How ancient collision shaped New York skyline,http://www.bbc.co.uk/news/science-environment-...,How the collision of ancient landmasses framed...,"Fri, 07 Jun 2013 01:26:25 GMT",New York,"('neutral', 0.8825516700744629)","('neutral', 0.9174059629440308)",neutral,0.882552,neutral,0.917406
1,1,1,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,New York 'at risk' as seas rise,http://www.bbc.co.uk/go/rss/int/news/-/news/sc...,New York is set to be a major loser as a resul...,"Fri, 08 Apr 2011 12:00:28 GMT",New York,"('neutral', 0.7084051966667175)","('negative', 0.8387162685394287)",neutral,0.708405,negative,0.838716
2,2,2,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,VIDEO: Get up close to shuttle Enterprise,http://www.bbc.co.uk/news/science-environment-...,Nasa's shuttle Enterprise has moved to a new h...,"Thu, 19 Jul 2012 12:53:27 GMT",New York,"('neutral', 0.8863705992698669)","('neutral', 0.9197622537612915)",neutral,0.886371,neutral,0.919762
3,3,3,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,VIDEO: 'Bio-hackers' create New York lab,http://www.bbc.co.uk/go/rss/int/news/-/news/wo...,A group of scientists have created the first c...,"Wed, 15 Feb 2012 03:26:00 GMT",New York,"('neutral', 0.8607747554779053)","('positive', 0.670368492603302)",neutral,0.860775,positive,0.670368
4,4,4,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,Lab rodents drowned in NY floods,http://www.bbc.co.uk/news/science-environment-...,Thousands of lab rodents have drowned after st...,"Thu, 01 Nov 2012 15:43:51 GMT",New York,"('negative', 0.5308859944343567)","('negative', 0.8034924864768982)",negative,0.530886,negative,0.803492

In [70]:
df_sent.drop(columns = 'Unnamed: 0', axis = 1, inplace = True)

In [71]:
df_sent_filtered = df_sent.loc[df_sent['city']!='England']
df_sent_filtered = df_sent_filtered.loc[df_sent_filtered['city']!='Russia']
df_sent_filtered = df_sent_filtered.loc[df_sent_filtered['roberta_desc_label']=='negative']

In [72]:
df_sent_filtered.shape

(111, 18)

In [73]:
df_sent_filtered.head(60)

,Unnamed: 0.1,city,state_name,county_name,lat,lng,zips,title,link,description,published,location_match,roberta_title,roberta_description,roberta_title_label,roberta_title_score,roberta_desc_label,roberta_desc_score
1,1,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,New York 'at risk' as seas rise,http://www.bbc.co.uk/go/rss/int/news/-/news/sc...,New York is set to be a major loser as a resul...,"Fri, 08 Apr 2011 12:00:28 GMT",New York,"('neutral', 0.7084051966667175)","('negative', 0.8387162685394287)",neutral,0.708405,negative,0.838716
4,4,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,Lab rodents drowned in NY floods,http://www.bbc.co.uk/news/science-environment-...,Thousands of lab rodents have drowned after st...,"Thu, 01 Nov 2012 15:43:51 GMT",New York,"('negative', 0.5308859944343567)","('negative', 0.8034924864768982)",negative,0.530886,negative,0.803492
10,10,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,Sandy: New York devastation mapped,http://www.bbc.co.uk/news/world-us-canada-2013...,Maps and images showing the damage caused by H...,"Tue, 30 Oct 2012 18:32:04 GMT",New York,"('neutral', 0.7545174956321716)","('negative', 0.6382957100868225)",neutral,0.754517,negative,0.638296
21,21,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,Shark found on New York subway,http://www.bbc.co.uk/news/world-us-canada-2361...,"New York City's subway, no stranger to exotic ...","Wed, 07 Aug 2013 21:05:13 GMT",New York,"('neutral', 0.8699946999549866)","('negative', 0.5445064902305603)",neutral,0.869995,negative,0.544506
30,30,San Francisco,California,San Francisco,37.7558,-122.4449,94130 94131 94132 94133 94134 94103 94102 9410...,Recycling wars in San Francisco,http://www.bbc.co.uk/go/rss/int/news/-/news/ma...,Criminals cashing in by stealing cans and bottles,"Tue, 31 Jan 2012 11:55:32 GMT",San Francisco,"('neutral', 0.8264139890670776)","('negative', 0.6757929921150208)",neutral,0.826414,negative,0.675793
32,32,New Orleans,Louisiana,Orleans,30.0687,-89.9288,70139 70130 70131 70148 70114 70115 70116 7011...,Lower Ninth five years after Katrina,http://news.bbc.co.uk/go/rss/int/news/-/1/hi/p...,The Lower Ninth Ward of New Orleans was hit pa...,"Thu, 26 Aug 2010 23:58:32 GMT",New Orleans,"('neutral', 0.5867184400558472)","('negative', 0.5115200281143188)",neutral,0.586718,negative,0.511520
34,34,New Orleans,Louisiana,Orleans,30.0687,-89.9288,70139 70130 70131 70148 70114 70115 70116 7011...,Satellite Observes Power Outages in New Orleans,https://earthobservatory.nasa.gov/images/14877...,"Three days after Hurricane Ida, many people in...","Wed, 01 Sep 2021 13:01:03 -0400",New Orleans,"('neutral', 0.9166175723075867)","('negative', 0.8006893992424011)",neutral,0.916618,negative,0.800689
35,35,Tulsa,Oklahoma,Tulsa,36.1283,-95.9042,74171 74137 74134 74132 74133 74130 74136 7413...,"Tulsa massacre: The search for victims, 100 ye...",https://www.bbc.co.uk/news/world-us-canada-572...,Decades after white mobs razed an affluent bla...,"Wed, 26 May 2021 23:56:22 GMT",Tulsa,"('neutral', 0.4860829710960388)","('negative', 0.7513250708580017)",neutral,0.486083,negative,0.751325
36,36,Santa Barbara,California,Santa Barbara,34.4285,-119.7202,93105 93101 93103 93109 93102 93120 93121 9313...,Alisal Fire Rages Near Santa Barbara,https://earthobservatory.nasa.gov/images/14895...,Chaparral shrublands and strong winds are fuel...,"Wed, 13 Oct 2021 17:59:02 -0400",Santa Barbara,"('neutral', 0.7121644020080566)","('negative', 0.5097087025642395)",neutral,0.712164,negative,0.509709
39,39,Hereford,Texas,Deaf Smith,34.8225,-102.4001,79045,VIDEO: Footage captures 'cloud' of starlings,http://www.bbc.co.uk/news/uk-26387395#sa-ns_mc...,Residents in Hereford say they are being plagu...,"Fri, 28 Feb 2014 15:48:16 GMT",Hereford,"('neutral', 0.9055725932121277)","('negative', 0.8390506505966187)",neutral,0.905573,negative,0.839051
51,51,Farmland,Indiana,Randolph,40.1895,-85.1273,47340,Farmland birds show rapid decline,http://www.bbc.co.uk/news/science-environment-...,Farmland birds are at their lowest levels sinc...,"Thu, 23 Oct 2014 14:39:14 GMT",Farmland,"('negative', 0.637130081653595)","('negative', 0.7892306447029114)",negative,0.637130,negative,0.789231
52,52,Farmland,Indiana,Randolph,40.1895,-85.1273,47340,VIDEO: Farmland birds show rapid decline,http://www.bbc.co.uk/news/science-environment-...,Farmland birds are at their lowest levels sinc...,"Thu, 23 Oct 2014 18:57:19 GMT",Farmland,"('negative', 0.6517814993858337)","('negative', 0.7892306447029114)",negative,0.651781,negative,0.789231
55,55,Marine,Illinois,Madison,38.7868,-89.7789,62061,Marine zone decision 'staggering',http://www.bbc.co.uk/news/uk-england-hampshire...,A wildlife trust criticises the decision not t...,"Tue, 22 Jan 2013 06:08:45 GMT",Marine,"('negative', 0.6459630131721497)","('negative', 0.5529472231864929)",negative,0.645963,negative,0.552947
60,60,Sun,Louisiana,St. Tammany,30.6489,-89.9070,70463 70427,VIDEO: 'Like throwing a snowball at the Sun',http://www.bbc.co.uk/news/science-environment-...,Comet Ison seems to have been destroyed in its...,"Thu, 28 Nov 2013 21:19:18 GMT",Sun,"('neutral', 0.8818756341934204)","('negative', 0.61599200963974)",neutral,0.881876,negative,0.615992
61,61,Sun,Louisiana,St. Tammany,30.6489,-89.9070,70463 70427,VIDEO: Has the Sun gone to sleep?,http://www.bbc.co.uk/news/science-environment-...,Scientists are saying that the Sun is in a pha...,"Fri, 17 Jan 2014 05:57:58 GMT",Sun,"('neutral', 0.9497807621955872)","('negative', 0.5601897835731506)",neutral,0.949781,negative,0.560190
74,74,Sun,Louisiana,St. Tammany,30.6489,-89.9070,70463 70427,Parker Solar Probe: Nasa's Sun mission smashes...,https://www.bbc.co.uk/news/science-environment...,"America's audacious mission to ""touch the Sun""...","Tue, 30 Oct 2018 09:58:28 GMT",Sun,"('neutral', 0.73931884765625)","('negative', 0.646483302116394)",neutral,0.739319,negative,0.646483
80,80,Fire Island,New York,Suffolk,40.6781,-73.0709,11770 11772 11706 11782,"Fire Island, Cabo Verde",https://earthobservatory.nasa.gov/images/14861...,Fogo is part of an active stratovolcano with a...,"Mon, 26 Jul 2021 00:00:00 -0400",Fire Island,"('neutral', 0.8362606167793274)","('negative', 0.5585449934005737)",neutral,0.836261,negative,0.558545
86,86,Gulf,North Carolina,Chatham,35.5597,-79.2805,27256 27252 27330,BP sues for $40bn over Gulf spill,http://www.bbc.co.uk/go/rss/int/news/-/news/wo...,"BP sues Transocean, the owner of the oil rig t...","Thu, 21 Apr 2011 01:10:22 GMT",Gulf,"('negative', 0.5207224488258362)","('negative', 0.6449320316314697)",negative,0.520722,negative,0.644932
91,91,Gulf,North Carolina,Chatham,35.5597,-79.2805,27256 27252 27330,AUDIO: Picture could 'hardly be worse' after G...,http://news.bbc.co.uk/go/rss/int/news/-/today/...,Almost a year since the Gulf of Mexico oil spi...,"Mon, 21 Feb 2011 08:12:32 GMT",Gulf,"('negative', 0.8337116837501526)","('negative', 0.6868889331817627)",negative,0.833712,negative,0.686889
92,92,Gulf,North Carolina,Chatham,35.5597,-79.2805,27256 27252 27330,Gulf spill evidence 'destroyed',http://www.bbc.co.uk/go/rss/int/news/-/news/wo...,Oil giant BP accuses services firm Halliburton...,"Tue, 06 Dec 2011 06:23:17 GMT",Gulf,"('negative', 0.5985581278800964)","('negative', 0.8735103607177734)",negative,0.598558,negative,0.873510
93,93,Gulf,North Carolina,Chatham,35.5597,-79.2805,27256 27252 27330,VIDEO: Plans to improve Gulf water technology,http://www.bbc.co.uk/news/business-19769041#sa...,The entire Gulf region is reliant on desalinat...,"Sat, 29 Sep 2012 09:40:35 GMT",Gulf,"('neutral', 0.5342689156532288)","('negative', 0.7267799377441406)",neutral,0.534269,negative,0.726780
95,95,Gulf,North Carolina,Chatham,35.5597,-79.2805,27256 27252 27330,Gulf of understanding,http://www.bbc.co.uk/go/rss/int/news/-/news/sc...,Deepwater Horizon may be the biggest accidenta...,"Tue, 3 Aug 2010 16:57:08 +0000",Gulf,"('neutral', 0.5535933375358582)","('negative', 0.8457225561141968)",neutral,0.553593,negative,0.845723
98,98,Gulf,North Carolina,Chatham,35.5597,-79.2805,27256 27252 27330,The cap used to slow the Gulf oil leak,http://www.bbc.co.uk/go/rss/int/news/-/news/sc...,As UK MPs cast doubt on Britain's ability to d...,"Thu, 06 Jan 2011 17:03:46 GMT",Gulf,"('neutral', 0.8364479541778564)","('negative', 0.6405200958251953)",neutral,0.836448,negative,0.640520
103,103,Gulf,North Carolina,Chatham,35.5597,-79.2805,27256 27252 27330,Blame shared over Gulf oil spill,http://www.bbc.co.uk/go/rss/int/news/-/news/wo...,"A US federal report finds BP, Transocean and H...","Wed, 14 Sep 2011 21:24:22 GMT",Gulf,"('negative', 0.7613800764083862)","('negative', 0.9068414568901062)",negative,0.761380,negative,0.906841
104,104,Gulf,North Carolina,Chatham,35.5597,-79.2805,27256 27252 27330,Feeding frenzy,http://www.bbc.co.uk/go/rss/int/news/-/news/bu...,Ex-BP boss admits firm was ill-equipped for Gu...,"Tue, 09 Nov 2010 00:07:26 GMT",Gulf,"('neutral', 0.5359739065170288)","('negative', 0.8146810531616211)",neutral,0.535974,negative,0.814681
105,105,Gulf,North Carolina,Chatham,35.5597,-79.2805,27256 27252 27330,BP 'not prepared' for Gulf spill,http://www.bbc.co.uk/go/rss/int/news/-/news/bu...,Ex-BP boss admits firm was ill-equipped for Gu...,"Tue, 09 Nov 2010 00:07:26 GMT",Gulf,"('negative', 0.6586589813232422)","('negative', 0.8146810531616211)",negative,0.658659,negative,0.814681
106,106,Gulf,North Carolina,Chatham,35.5597,-79.2805,27256 27252 27330,BP cements damaged Gulf oil well,http://www.bbc.co.uk/go/rss/int/news/-/news/wo...,BP finishes pumping cement into the top of its...,"Thu, 5 Aug 2010 20:50:58 +0000",Gulf,"('negative', 0.687093198299408)","('negative', 0.6569162011146545)",negative,0.687093,negative,0.656916
109,109,Gulf,North Carolina,Chatham,35.5597,-79.2805,27256 27252 27330,Gulf oil disaster trial delayed,http://www.bbc.co.uk/go/rss/int/news/-/news/bu...,The civil trial over the 2010 Deepwater Horizo...,"Sun, 26 Feb 2012 21:54:42 GMT",Gulf,"('negative', 0.7707942724227905)","('negative', 0.5576878786087036)",negative,0.770794,negative,0.557688
110,110,Gulf,North Carolina,Chatham,35.5597,-79.2805,27256 27252 27330,BP pumping cement into Gulf well,http://www.bbc.co.uk/go/rss/int/news/-/news/wo...,BP starts pumping cement into the top of its d...,"Thu, 5 Aug 2010 16:19:44 +0000",Gulf,"('neutral', 0.8569974303245544)","('negative', 0.6076412796974182)",neutral,0.856997,negative,0.607641
111,111,Gulf,North Carolina,Chatham,35.5597,-79.2805,27256 27252 27330,Phytoplankton Productivity Down in Gulf of Maine,https://earthobservatory.nasa.gov/images/14991...,New research shows that phytoplankton in the r...,"Tue, 07 Jun 2022 17:44:32 -0400",Gulf,"('neutral', 0.5830641984939575)","('negative', 0.7822222113609314)",neutral,0.583064,negative,0.782222
112,112,Birdsong,Arkansas,Mississippi,35.4610,-90.2598,72386,Birdsong phone apps 'harming' birds,http://www.bbc.co.uk/news/uk-england-dorset-22...,"The ""harmful misuse"" of mobile phone apps that...","Wed, 12 Jun 2013 07:40:45 GMT",Birdsong,"('negative', 0.5383761525154114)","('negative', 0.7319160103797913)",negative,0.538376,negative,0.731916
113,113,NaN,Alaska,NaN,NaN,NaN,NaN,Tsunamis linked to spread of deadly fungal dis...,https://www.bbc.co.uk/news/science-environment...,A huge earthquake off Alaska in the 1960s caus...,"Tue, 01 Oct 2019 23:00:35 GMT",Alaska,"('negative', 0.8377677798271179)","('negative', 0.6758919954299927)",negative,0.837768,negative,0.675892
125,125,NaN,Alaska,NaN,NaN,NaN,NaN,Why whales in Alaska have been so happy,https://www.bbc.co.uk/news/world-us-canada-580...,What will happen to Alaska's whales when touri...,"Wed, 04 Aug 2021 23:02:15 GMT",Alaska,"('positive', 0.7251021265983582)","('negative', 0.6351600289344788)",positive,0.725102,negative,0.635160
130,130,NaN,Alaska,NaN,NaN,NaN,NaN,A licence to kill bear cubs?,http://www.bbc.co.uk/news/magazine-40676384,Trump is once again allowing hunters in Alaska...,"Wed, 16 Aug 2017 23:05:49 GMT",Alaska,"('negative', 0.6875931620597839)","('negative', 0.8702665567398071)",negative,0.687593,negative,0.870267
131,131,NaN,Alaska,NaN,NaN,NaN,NaN,Climate change link to puffin deaths,https://www.bbc.co.uk/news/science-environment...,Climate change played a role in the deaths of ...,"Wed, 29 May 2019 23:36:33 GMT",Alaska,"('neutral', 0.7228736281394958)","('negative', 0.7385067939758301)",neutral,0.722874,negative,0.738507
133,133,NaN,Alaska,NaN,NaN,NaN,NaN,Alaskaâ€™s Vegetation is Changing Dramatically,https://earthobservatory.nasa.gov/images/14702...,Tree and plant cover has deteriorated consider...,"Mon, 27 Jul 2020 00:00:00 -0400",Alaska,"('neutral', 0.781109631061554)","('negative', 0.6747217178344727)",neutral,0.781110,negative,0.674722
135,135,NaN,Alaska,NaN,NaN,NaN,NaN,A Tumultuous Spring Breakup,https://earthobservatory.nasa.gov/images/15137...,Rapid thawing in Alaska caused damaging river ...,"Tue, 23 May 2023 16:40:53 -0400",Alaska,"('neutral', 0.6734820604324341)","('negative', 0.7793622016906738)",neutral,0.673482,negative,0.779362
142,142,NaN,Alaska,NaN,NaN,NaN,NaN,Alaska Ablaze,https://earthobservatory.nasa.gov/images/14997...,"Dozens of wildfires, including the largest tun...","Tue, 14 Jun 2022 16:45:19 -0400",Alaska,"('neutral', 0.7356864809989929)","('negative', 0.609352707862854)",neutral,0.735686,negative,0.609353
147,147,NaN,Arizona,NaN,NaN,NaN,NaN,Inside the Arizona 'tinderbox',http://www.bbc.co.uk/news/magazine-23169495#sa...,David Shukman traces the paths of wildfires an...,"Thu, 04 Jul 2013 23:25:44 GMT",Arizona,"('neutral', 0.9359370470046997)","('negative', 0.5144076943397522)",neutral,0.935937,negative,0.514408
151,151,NaN,Arizona,NaN,NaN,NaN,NaN,Silence in space marks US shooting,http://www.bbc.co.uk/go/rss/int/news/-/news/wo...,The crew on board the International Space Stat...,"Mon, 10 Jan 2011 21:25:08 GMT",Arizona,"('neutral', 0.576958954334259)","('negative', 0.8252936601638794)",neutral,0.576959,negative,0.825294
156,156,NaN,Arkansas,NaN,NaN,NaN,NaN,Bird plummet mystery 'is solved',http://www.bbc.co.uk/go/rss/int/news/-/news/wo...,Scientists believe the shock caused by New Yea...,"Tue, 04 Jan 2011 01:57:07 GMT",Arkansas,"('neutral', 0.7569578289985657)","('negative', 0.529739499092102)",neutral,0.756958,negative,0.529739
157,157,NaN,Arkansas,NaN,NaN,NaN,NaN,Arkansas mass bird plummet mystery 'solved',http://www.bbc.co.uk/go/rss/int/news/-/news/wo...,New Year's Eve fireworks display may have caus...,"Tue, 04 Jan 2011 01:57:07 GMT",Arkansas,"('neutral', 0.8506707549095154)","('negative', 0.7915888428688049)",neutral,0.850671,negative,0.791589
158,158,NaN,Arkansas,NaN,NaN,NaN,NaN,Arkansas mass bird plummet mystery 'is solved',http://www.bbc.co.uk/go/rss/int/news/-/news/wo...,Scientists believe the shock caused by New Yea...,"Tue, 04 Jan 2011 01:57:07 GMT",Arkansas,"('neutral', 0.8629918694496155)","('negative', 0.529739499092102)",neutral,0.862992,negative,0.529739
164,164,NaN,California,NaN,NaN,NaN,NaN,California nuclear plant to shut,http://www.bbc.co.uk/news/world-us-canada-2282...,A California nuclear power plant will close pe...,"Fri, 07 Jun 2013 16:17:28 GMT",California,"('neutral', 0.5464389324188232)","('negative', 0.8030908703804016)",neutral,0.546439,negative,0.803091
165,165,NaN,California,NaN,NaN,NaN,NaN,In pictures: California wildfires,http://www.bbc.co.uk/news/world-us-canada-2276...,Images capture the terrible beauty of Californ...,"Mon, 03 Jun 2013 20:52:35 GMT",California,"('neutral', 0.8008402585983276)","('negative', 0.8450157046318054)",neutral,0.800840,negative,0.845016
175,175,NaN,California,NaN,NaN,NaN,NaN,VIDEO: Scientists study starving sea lion pups,http://www.bbc.co.uk/news/world-us-canada-2198...,Efforts are being made to find out why hundred...,"Sat, 30 Mar 2013 18:28:43 GMT",California,"('neutral', 0.5578951239585876)","('negative', 0.6587325930595398)",neutral,0.557895,negative,0.658733
179,179,NaN,California,NaN,NaN,NaN,NaN,VIDEO: Taps run dry amid California drought,http://www.bbc.co.uk/news/world-us-canada-2895...,California has been hit by its worst drought i...,"Wed, 27 Aug 2014 13:14:20 GMT",California,"('neutral', 0.6954658031463623)","('negative', 0.9343914985656738)",neutral,0.695466,negative,0.934391
183,183,NaN,California,NaN,NaN,NaN,NaN,Then and now: A 'megadrought' in California,https://www.bbc.co.uk/news/science-environment...,See how extreme weather has affected an vital ...,"Thu, 04 Mar 2021 01:16:52 GMT",California,"('neutral', 0.7754020690917969)","('negative', 0.5406819581985474)",neutral,0.775402,negative,0.540682
188,188,NaN,California,NaN,NaN,NaN,NaN,Can California save itself from the flames?,https://www.bbc.co.uk/news/world-us-canada-592...,"Unprecedented drought and heat, combined with ...","Sat, 13 Nov 2021 03:23:23 GMT",California,"('negative', 0.5822536945343018)","('negative', 0.8795269727706909)",negative,0.582254,negative,0.879527
194,194,NaN,California,NaN,NaN,NaN,NaN,Ancient carvings vandalised in US,http://www.bbc.co.uk/news/world-us-canada-2040...,Thieves use power saws to cut out and steal a ...,"Tue, 20 Nov 2012 03:16:17 GMT",California,"('negative', 0.7309073209762573)","('negative', 0.5962970852851868)",negative,0.730907,negative,0.596297
196,196,NaN,California,NaN,NaN,NaN,NaN,VIDEO: One of last six rare rhinos dies,http://www.bbc.co.uk/news/world-us-canada-3049...,One of the world's last remaining northern whi...,"Tue, 16 Dec 2014 13:09:45 GMT",California,"('negative', 0.6770043969154358)","('negative', 0.6790750026702881)",negative,0.677004,negative,0.679075
199,199,NaN,California,NaN,NaN,NaN,NaN,Huge scale of California pollination event,http://www.bbc.co.uk/news/science-environment-...,Billions of bees used as migrant workers in th...,"Tue, 26 Mar 2013 12:36:20 GMT",California,"('neutral', 0.7177113890647888)","('negative', 0.5007768869400024)",neutral,0.717711,negative,0.500777
200,200,NaN,California,NaN,NaN,NaN,NaN,Surfer killed in US shark attack,http://www.bbc.co.uk/news/world-us-canada-2005...,A 39-year-old surfer dies after a shark attack...,"Wed, 24 Oct 2012 04:14:54 GMT",California,"('negative', 0.7325497269630432)","('negative', 0.8290078043937683)",negative,0.732550,negative,0.829008
202,202,NaN,California,NaN,NaN,NaN,NaN,California hit by raging wildfires,http://www.bbc.co.uk/news/world-us-canada-2851...,Two fast-moving fires in California destroy 10...,"Mon, 28 Jul 2014 03:30:42 GMT",California,"('negative', 0.692972719669342)","('negative', 0.8425816297531128)",negative,0.692973,negative,0.842582
207,207,NaN,California,NaN,NaN,NaN,NaN,Climate change: California wildfires 'can now ...,https://www.bbc.co.uk/news/science-environment...,Wet winters are no longer a guide to the sever...,"Mon, 04 Mar 2019 20:01:38 GMT",California,"('neutral', 0.621600866317749)","('negative', 0.5395434498786926)",neutral,0.621601,negative,0.539543
208,208,NaN,California,NaN,NaN,NaN,NaN,Hoodwinker sunfish: Rare fish washes up on Cal...,https://www.bbc.co.uk/news/world-us-canada-474...,The seven-foot (2.1m) hoodwinker sunfish washe...,"Sat, 02 Mar 2019 04:29:29 GMT",California,"('neutral', 0.8843544721603394)","('negative', 0.5871210098266602)",neutral,0.884354,negative,0.587121
215,215,NaN,California,NaN,NaN,NaN,NaN,One dead in SpaceShipTwo test crash,http://www.bbc.co.uk/news/world-us-canada-2985...,At least one person is dead and another injure...,"Fri, 31 Oct 2014 19:41:12 GMT",California,"('negative', 0.6971138715744019)","('negative', 0.841475784778595)",negative,0.697114,negative,0.841476
225,225,NaN,California,NaN,NaN,NaN,NaN,Rare northern white rhino dies in US,http://www.bbc.co.uk/news/world-us-canada-3048...,A male northern white rhinoceros named Angalif...,"Mon, 15 Dec 2014 15:28:20 GMT",California,"('negative', 0.5327557921409607)","('negative', 0.5829476714134216)",negative,0.532756,negative,0.582948

In [74]:
df_article_values = df_sent_filtered['state_name'].value_counts().reset_index()

In [75]:
df_article_values

        state_name  count
0       California     26
1   North Carolina     13
2         New York      9
3          Florida      9
4        Louisiana      7
5           Alaska      7
6            Texas      5
7         Arkansas      4
8         Virginia      3
9       New Mexico      3
10          Hawaii      3
11         Arizona      2
12        Illinois      2
13          Kansas      2
14        Michigan      2
15        Missouri      2
16         Indiana      2
17            Utah      2
18        Oklahoma      2
19        Kentucky      1
20           Maine      1
21         Montana      1
22      New Jersey      1
23       Tennessee      1
24   West Virginia      1

In [76]:
df_article_values.to_csv("../data/bbc_and_nasa_negative_article_counts_by_state.csv", index = False)